.headingz h1{
    background-color: rgb(41, 6, 6);
    color: rgb(252, 250, 250);
    font-size: 2rem;
    padding: 10px;
    padding-left: 0px;
}


.username-colorz{
    color:rgb(241, 237, 244);
}

.overallz{
  background-color: whitesmoke;
}

.about-sectionz{
    background-color: whitesmoke; /* Light gray background */
    padding: 30px 0;
    text-align: center;
    padding-left: 300px;
  }
  
.overz{
  background-color: whitesmoke;
}

.containerz h2{
  font-size: 25px;
  padding-top :13px;
}

  .about-sectionz h2 {
    font-size: 38px;
    margin-bottom: 30px;
    color: #333; 
    margin-left: -500px;
  }
  
  .founder-cardz {
    background-color: #fff;
    width:60vh;
    height:53vh;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform 0.1s ease;
  }
  .founder-imagez{
    width:25vh;
    height: 25vh;
    padding: 10px;
    margin-left: 123px ;
    
  }
  .rowwz
  {
    display: flex;
    width: 100%;
    padding-top: 3vh;

  }
  .founder-cardz h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .founder-rolez {
    font-size: 16px;
    font-weight: bold;
    color: #007bff; /* Blue color for roles */
    margin-bottom: 15px;
  }
  
  .founder-bioz {
    font-size: 16px;
    color: #666;
  }
  
  .founder-cardz:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  * {
    margin: 0;
    padding: 0;
  }
  
 
.homebtnnZ {
  
  height: 56px;
  overflow: hidden;
  border: none;
  margin-top:40px ;
  position: relative;
  padding-bottom: 2em;
  text-decoration: none; 
  display: flex;
  
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  transition: 0.2s ease;
}


.homebtnnZ:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  background-color: #333;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

.homebtnnZ:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.homebtnnZ .clone > *,
.homebtnnZ .text > * {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.2s, transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 4px;
}

.homebtnnZ:hover .clone > *,
.homebtnnZ:hover .text > * {
  opacity: 1;
  transform: translateY(0px);
}


.homebtnnZ:hover .clone > :nth-child(1) {
  transition-delay: 0.1s;
}

.homebtnnZ:hover .clone > :nth-child(2) {
  transition-delay: 0.1s;
}

.homebtnnZ:hover .clone > :nth-child(3) {
  transition-delay: 0.1s;
}

.homebtnnZ:hover .clone > :nth-child(4) {
  transition-delay: 0.1s;
}

.homebtnnZ svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

.homebtnnZ:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}
  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  .about-sectionz,
  .mission-visionz,
  .core-valuesz,
  .teamz {
    margin-bottom: 30px;
  }
  
  .about-sectionz h2,
  .mission-visionz h2,
  .core-valuesz h2,
  .teamz h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-sectionz p,
  .mission-visionz p,
  .core-valuesz ul,
  .teamz p {
    font-size: 16px;
    color: #333; /* Text color */
  }
  
  /* Core values list styles */
  /* .core-values ul {
    list-style: none;
  }
  
  .core-values ul li {
    margin-bottom: 10px;
  }
  
  .core-values ul li strong {
    font-weight: bold;
  } */
  
  .mainz {
    padding: 20px;
  }
  
  .about-sectionz,
  .mission-visionz,
  .core-valuesz,
  .teamz {
    margin-bottom: 30px;
    transition: transform 1s ease;
  }
  
  .about-sectionz h2,
  .mission-visionz h2,
  .core-valuesz h2,
  .teamz h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-sectionz p,
  .mission-visionz p,
  .core-valuesz ul,
  .teamz p {
    font-size: 16px;
    color: #333; /* Text color */
  }
  
  /* Core values list styles */
  /* .core-values ul {
    list-style: none;
  }
  
  .core-values ul li {
    margin-bottom: 10px;
  }
  
  .core-values ul li strong {
    font-weight: bold;
  } */

  .about-sectionnz{
    background-color: #f7e4e4;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform 0.3s ease; 
  }
  /* .mission-vision{
    background-color: #e0f4f8;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform 0.3s ease; 
    display: flex;
    flex: auto;

  }
  .mission-vission{
    
    flex: 1;
    padding: 20px;

  }
  .core-values{
    background-color: #f9f3cd;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform 0.3s ease; 

  } */

/* .gif1{
    height: 7rem;
    width: 7rem;
}
.gif2{
    height: 7rem;
    width: 7rem;
}
.gif3{
    height: 7rem;
    width: 7rem;
}
.gif4{
    height: 7rem;
    width: 7rem;
}

.content1 {
    margin-right: 100rem;
    width:40vw;
} */



.about-section1z {
    background-color: whitesmoke; /* Light gray background */
    padding: 60px 0;
    text-align: center;
    padding-left: 300px;
    margin-top: -170px;

  }
  .about-section1z h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #333; 
  }
  
  .founder-card1z {
    background-color: #fff;
    width:60vh;
    height:55vh;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform 0.1s ease;
  }
  .founder-image1z{
    width:25vh;
    height: 25vh;
    padding: 10px;
    margin-left: 123px
    
  }
  .roww1z
  {
    display: flex;
    width: 100%;
    padding-top: 3vh;

  }
  .founder-card1z h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .founder-role1z {
    font-size: 16px;
    font-weight: bold;
    color: #007bff; /* Blue color for roles */
    margin-bottom: 15px;
  }
  
  .founder-bio1z {
    font-size: 16px;
    color: #666; /* Gray text color for bio */
  }
  
  /* Founder Card Hover Effect */
  .founder-card1z:hover {
    
    transform: translateY(-5px); /* Lift the card slightly on hover */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
  }

  * {
    margin: 0;
    padding: 0;
  }
  
 
  
  /* Main content styles */
  main {
    padding: 20px;
  }
  
  .about-section1z,
  .mission-visionz,
  .core-valuesz,
  .teamz {
    margin-bottom: 30px;
  }
  
  .about-section1z h2,
  .mission-visionz h2,
  .core-valuesz h2,
  .teamz h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-section1z p,
  .mission-visionz p,
  .core-valuesz ul,
  .teamz p {
    font-size: 16px;
    color: #333; /* Text color */
  }
  
  /* Core values list styles */
  /* .core-values ul {
    list-style: none;
  }
  
  .core-values ul li {
    margin-bottom: 10px;
  }
  
  .core-values ul li strong {
    font-weight: bold;
  } */
  
  .mainz {
    padding: 20px;
  }
  
  .about-section1z,
  .mission-visionz,
  .core-valuesz,
  .teamz {
    margin-bottom: 30px;
    transition: transform 1s ease;
  }
  
  .about-section1z h2,
  .mission-visionz h2,
  .core-valuesz h2,
  .teamz h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .about-section1z p,
  .mission-visionz p,
  .core-valuesz ul,
  .teamz p {
    font-size: 16px;
    color: #333; /* Text color */
  }
  
  /* Core values list styles */
  /* .core-values ul {
    list-style: none;
  }
  
  .core-values ul li {
    margin-bottom: 10px;
  }
  
  .core-values ul li strong {
    font-weight: bold;
  } */

  .about-sectionn1z{
    background-color: #f7e4e4;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform 0.3s ease; 
  }
  /* .mission-vision{
    background-color: #e0f4f8;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform 0.3s ease; 
    display: flex;
    flex: auto;

  }
  .mission-vission{
    
    flex: 1;
    padding: 20px;

  }
  .core-values{
    background-color: #f9f3cd;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
    margin-bottom: 30px;
    transition: transform 0.3s ease; 

  } */

/* .gif1{
    height: 7rem;
    width: 7rem;
}
.gif2{
    height: 7rem;
    width: 7rem;
}
.gif3{
    height: 7rem;
    width: 7rem;
}
.gif4{
    height: 7rem;
    width: 7rem;
}

.content1 {
    margin-right: 100rem;
    width:40vw;
} */

.founder-button1z {
  text-decoration: none;
  padding: 12px 24px;
  margin-top: 22px;
  border: 2px solid #addbe4;
  background-color: orange;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.founder-button1z:hover {
  background-color: #8fd4e7;
  transform: scale(1.1);
  color: white;
}

.founder-button2z {
  text-decoration: none;
  margin-top: 22px;
  padding: 12px 24px;
  border: 2px solid #addbe4;
  background-color: orange;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.founder-button2z:hover {
  background-color: #8fd4e7;
  transform: scale(1.1); 
  color: white;
}