.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  bottom: 0;
  left: 0;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline;
  margin-right: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}
.footer-logo1{
  margin-top: 8px;
  margin-left: 100px;
}
.footer-logo2{
  margin-left: 150px;
  margin-top: -54px;
}
.footer-logo3{
  margin-left: 200px;
  margin-top: -54px;
}