
.tandc-container {
  max-width: 150vh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tandc-title {
  font-size: 25px;
  text-decoration:underline;
  font-weight: bold;
  color: #333;
  padding: 15px;
  margin-bottom: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.tandc-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.tandc-section {
  flex-basis: calc(50% - 20px); 
  padding: 10px;
  margin-bottom: 39px;
  background-color: #cbeff4;
  border: 10px solid #68839b;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(188, 17, 17, 0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.tandc-section h3 {
  font-weight: bold;
}

.tandc-section:hover {
  transform: translateZ(-5px);
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .tandc-section {
    flex-basis: 100%;
  }
}
