.leftbar-container{
    padding: auto;
    border-spacing: 5px;
    background-color: rgb(231, 201, 156);

    display: flex;
    width: 150px;
    height: 100vh;
}
.text-xl
{
    border-radius: 10px;
    color: rgb(0, 5, 9);
    font-size: 20px;
  
}
.text-xl:hover
{

    transform: scale(1.1);
}